@tailwind base;
@tailwind components;
@tailwind utilities;

/* .t {
  background-color: red;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
} */

html {
  scroll-behavior: smooth;
}

.ant-menu-item {
  font-weight: 600;
  background-color: white;
  display: flex !important;
  justify-content: start !important;
}

.ant-menu-item:focus {
  color: white !important;
}

.ant-menu-item:hover {
  color: white !important;
}

input[type="radio"] {
  accent-color: #C95559; 
}
